/*-- ANNEXES --*/

.annexe{
  margin:auto;
  background:var(--bg3);
  font-family:var(--font3);
  color:var(--text2);
  width:645px;
  outline: 1px solid var(--bg3);
  border-radius:4px;
}
.an_title{
    font-size: 40px;
    position: relative;
    z-index: 2;
    text-transform: uppercase;
    font-family: var(--font2);
    width: fit-content;
    transition: 1s;
    color: #1b1b1b;
    font-weight: 800;
    margin-left: 30px;
}
.an_img{
    text-align: center;
    position: relative;
    z-index: 1;
    margin-bottom: -54px;
    height: 54px;
    width: 645px;
    float: left;
}
.an_img img{
    width: 645px;
    height: 54px;
    object-fit: cover;
    border-radius: 4px 4px 0px 0px;
}
.an_subtitle{
    position: relative;
    z-index: 9;
    top: -5px;
    text-align: center;
}
.an_subtitle span{
    background: var(--bg2);
    z-index: 9;
    margin: 10px;
    padding: 4px 20px;
    border: 1px solid var(--color3);
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 800;
    border-radius: 40px;
}
.an_line{
    display: flex;
    flex-wrap: wrap;
}
.an_linedis{
    margin-bottom: 15px;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr auto;
}
.an_box1{
    font-family: var(--font3);
    display: flex;
    background: var(--bg2);
    font-weight: 900;
    color: var(--color3);
    font-size: 14px;
    text-align: center;
    padding: 8px 15px;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 20px;
    margin-top: -10px;
    border-radius: 4px;
    border: 1px solid var(--color3);
}
.an_box1 div{
    font-family: var(--font3);
    color: var(--text2);
    font-size: 14px;
    font-weight: normal;
    text-align: justify;
    margin-top: 2px;
}
.an_box2{
    display: flex;
    text-align: left;
    padding: 6px 15px;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: -12px;
    margin-top: 30px;
    height: 300px;
    margin-right: 20px;
    width: 205px;
}
.an_box2 img{
    width: 205px;
    height: 300px;
    object-fit: cover;
    filter: contrast(1) grayscale(0);
    border-radius: 4px;
    margin-left: -15px;
}
.an_transition{
    position: relative;
    z-index: 9;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: -25px;
    margin-bottom: 7px;
}
.an_transition span{
    background: var(--bg2);
    z-index: 9;
    margin: 10px;
    padding: 4px 20px;
    border-radius: 40px;
    border: 1px solid var(--color3);
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 800;
}
.an_linedis2{
    margin-bottom: 12px;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr auto;
}
.an_box3{
    display: flex;
    font-size: 14px;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: -12px;
    margin-top: 30px;
    height: 300px;
    width: 205px;
}
.an_box3 img{
    width: 205px;
    height: 300px;
    /* opacity: 0.1; */
    object-fit: cover;
    border-radius: 4px;
    filter: contrast(1) grayscale(0);
    margin-left: 20px;
}
.an_box4{
    font-family: var(--font3);
    display: flex;
    background: var(--bg2);
    font-weight: 900;
    color: var(--color3);
    font-size: 14px;
    text-align: center;
    padding: 8px 15px;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 20px;
    margin-top: -10px;
    border-radius: 4px;
    border: 1px solid var(--color3);
}
.an_box4 div{
    font-family: var(--font3);
    color: var(--text2);
    font-size: 14px;
    font-weight: normal;
    text-align: justify;
    margin-top: 2px;
}
.an_bottom{
    padding: 15px 25px;
    text-align: justify;
    background: var(--bg2);
    width: 80%;
    margin-bottom: 12px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -6px;
    border-radius: 4px;
    border: 1px solid var(--color3);
}

/*-- CHRONOLOGIE --*/

.chr_linedis{
    display: grid;
    grid-template-columns: 1fr 120px 1fr;
    grid-template-rows: 1fr auto;
}
.chr_box1{
    font-family: var(--font3);
    display: flex;
    font-weight: 900;
    color: var(--color3);
    font-size: 25px;
    text-align: right;
    padding: 8px 15px;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 4px;
}
.chr_box1 div{
    font-family: var(--font3);
    color: var(--text2);
    font-size: 14px;
    font-weight: normal;
    text-align: justify;
}
.chr_box1 div img{
    height: 40px;
    float: right;
    border-radius: 4px;
    margin-left: 5px;
    margin-top: 5px;
}
.chr_box2{
    display: flex;
    background: var(--color3);
    padding: 15px 0px;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: -20px;
}
.chr_box2 span{
    font-weight: 800;
    font-size: 65px;
    color: var(--FAM-fontLightClr);
    line-height: 0.8;
    margin-top: 18px;
}
.chr_box2r{
    display: flex;
    background: var(--color3);
    text-align: right
    padding: 15px 0px;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: -20px;
}
.chr_box2r span{
    font-weight: 800;
    font-size: 65px;
    color: var(--FAM-fontLightClr);
    line-height: 0.8;
    margin-top: 18px;
}
.chr_box3{
    font-family: var(--font3);
    display: flex;
    font-weight: 900;
    color: var(--color3);
    font-size: 25px;
    text-align: left;
    padding: 8px 15px;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 4px;
}
.chr_box3 div{
    font-family: var(--font3);
    color: var(--text2);
    font-size: 14px;
    font-weight: normal;
    text-align: justify;
}
.chr_box3 div img{
    height: 40px;
    float: left;
    border-radius: 4px;
    margin-right: 5px;
    margin-top: 5px;
}

/*--------- UNIVERS ÉTENDU ---------*/

.ue_marge {
    display: grid;
    padding: 10px 10px 0px 0px;
    margin-left: 30px;
    margin-right: 30px;
    font-family: montserrat;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    border-bottom: 1px solid var(--text2);
}
.ue_ue {
    margin: 20px 30px 10px 30px;
}
.ue_ue img {
    width: 286px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
.ue_text {
    background: var(--bg2);
    padding: 10px;
    margin-left: 294px;
    text-align: justify;
}

.alt_list {
    position: relative;  /* Important pour positionner les boîtes absolues à l'intérieur */
}

.alt_box {
    background: var(--bg2);
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Permet aux éléments de se répartir verticalement */
    padding: 0px 5px 0px 5px;
    box-sizing: border-box; /* Pour inclure le padding dans la taille de la boîte */
}
.alt_boxtitle_yes {
    padding: 7px 0px 5px 7px;
}
.alt_boxtitle_yes span {
    font-family: montserrat;
    font-weight: 600;
    text-transform: uppercase;
}

.alt_boxtitle_yes span:after {
    content: '\e9d9';
    font-family: 'cappuccicons';
    float: right;
    margin-right: 5px;
    color: var(--color3);
}

.alt_box {
    background: var(--bg2);
    width: 280px; /* Exemple de largeur fixe, ou adaptative selon tes besoins */
    padding: 0px 5px 0px 5px;
    box-sizing: border-box;
    margin-bottom: 10px; /* Espace entre les boîtes */
}

.alt_boxtitle_no span {
    font-family: montserrat;
    font-weight: 600;
    text-transform: uppercase;
}

.alt_boxtitle_no span:after {
    content: '\ea3c';
    font-family: 'cappuccicons';
    float: right;
    margin-right: 5px;
    color: var(--color3);
}

.alt_boxdesc {
    background: var(--bg3);
    padding: 10px 7px 7px 7px;
    margin: 0; /* Pas de marge entre la description et les autres éléments */
    flex-grow: 1; /* Permet à la description de s'étirer verticalement si nécessaire */
}

.alt_boxtag {
    text-align: right;
    margin: 5px 10px 5px 5px;
}
