t1 {
	font-family: montserrat;
	color: var(--text1);
	text-transform: uppercase;
	font-weight: 900;
	font-size: 37px;
}
t2 {
	font-family: montserrat;
	color: var(--text1);
	display: grid;
	text-transform: uppercase;
	font-weight: 800;
	font-size: 23px;
	border-bottom: 2px solid var(--color3);
}
t3 {
	font-family: montserrat;
	color: var(--text1);
	text-transform: uppercase;
	font-weight: 800;
	font-size: 23px;
	border-left: 2px solid var(--color3);
	padding: 0px 0px 0px 10px;
}
t4 {
	font-family: montserrat;
	color: var(--text1);
	padding: 30px 0 8px;
	text-transform: uppercase;
	font-weight: 800;
	font-size: 23px;
	position: relative;
  
}
s1 {
	color: var(--color3);
	font-weight: bold;
}
s2 {
	color: var(--text1);
	font-weight: bold;
	background-color: var(--color3);
	padding : 0px 4px;
}
s3 {
	font-family: montserrat;
	text-transform: uppercase;
	color: var(--text1);
	font-weight: bold;

}
s4 {
	font-family: montserrat;
	text-transform: uppercase;
	color: var(--text1);
	font-weight: bold;
	background-color: var(--color3);
	padding : 0px 4px;
}
u1 {
	border-bottom: 1px solid var(--color3);
}
u3 {
	border-bottom: 1px dashed var(--color3);
}
tag1 {
    background: var(--bg3);
    padding: 2px 4px;
    font-weight: bold;
}
tag2 {
	background: var(--color3);
	padding: 4px;
	border-radius: 2px;
	font-weight: bold;
}
tag3 {
	border: 2px solid var(--bg3);
	padding: 4px;
	border-radius: 2px;
	font-weight: bold;
}
tag4 {
	border: 2px solid var(--color3);
	padding: 4px;
	border-radius: 2px;
	font-weight: bold;
}
tag5 {
	border: 2px dashed var(--bg3);
	padding: 4px;
	border-radius: 2px;
	font-weight: bold;
}
tag6 {
	border: 2px dashed var(--color3);
	padding: 4px;
	border-radius: 2px;
	font-weight: bold;
}




butoff{
  
  background: -webkit-linear-gradient(50deg, var(--color1), var(--color2), var(--color3));
  font-family: var(--font3);
  letter-spacing: 4px;
  padding: 2px 5px;
  border-radius: 4px !important;
  text-transform: uppercase;
  font-weight: 900;
  color: var(--bg2);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  font-size: 14px;
  margin: 3px;
}

.lilblock{
  margin: 0 70px;
  text-align: justify;
  border: 1px solid var(--color3);
  border-radius: 2px !important;
  padding: 22px;
  background: var(--bg3);
  color: var(--text2);
}

alin{
    display: block;
    background: -webkit-linear-gradient(50deg, var(--color1), var(--color2), var(--color3));
    height: 2px;
    width: 84%; 
    margin: auto;
}

sdsdjs{
  font-weight: 900;
  filter: blur(2px);
  transition: filter 1s;
}

sdsdjs:hover{
  font-weight: 900;
    filter: blur(0px);
}


.imglft, .imgrgt {
  height: 200px;
  width: 150px;
  object-fit: cover;
  border-radius: 3px !important;
  margin-top: 5px;
  box-shadow: rgba(14, 30, 37, 0.15) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  margin-bottom: 10px;
}

.imglft{
  float: left;
  margin-right: 20px;
}

.imgrgt{
float: right;
margin-left: 20px;
}

.jtiti{
	color: var(--text1);
    display: flex;
    flex-wrap: wrap;
    border-radius: 4px;
    outline-offset: 5px;
    position: relative;
    margin: 20px;
    padding: 10px;
}

.jtoptiti{
  position: relative;
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 35px;
    margin: auto;
    font-family: var(--font2);
  color: var(--text1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.jtiti:before {
    position: absolute;
    bottom: 0;
    width: 60px;
    height: 2px;
    content: "";
    background-color: var(--color3);
	  left: 50%;
    transform: translate(-50%);
}

.jbottiti {
    font-size: 13px;
  color: var(--text2);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding-left: 0.25em;
    padding-bottom: 5px;
}

tline {
	  color: var(--text1);
	  font-family: var(--font2);
	  text-transform: uppercase;
    font-size: 23px;
    font-weight: 800;
}

tline::after {
	  background: var(--color3);
	  position: absolute;
	  margin-left: 14px;
	  margin-top: 13px;
    content: ' '; 
    width: 300px;
    height: 2px; 
}

.LPO_img1 {
    text-align: center;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 8px;
    transition: 1s;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.LPO_img2 {
    text-align: center;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 8px;
    transition: 1s;
	border-radius: 50%;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.moodboard{
  width: 360px;
  background-color: var(--bg0);
  margin: auto;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  grid-gap: 20px;
  justify-content: center;
  align-content: center;
  padding: 10px;
  border-radius: 3px;
}

.boardpic{
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center;
  border-radius: 2px;
 box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.boardpic:hover{
  transform: translateY(-5px);
}

block{
  padding: 15px 10px 15px;
  border: 1px solid var(--color2);
  border-radius: 3px;
  text-align: justify;
  display : block;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(229, 106, 69, 0.1);
  width: 60%;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

block:hover{
  background: var(--bg2);
}

.trad-hover {
  position: relative; 
  display: inline-block;
  cursor: pointer;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: var(--color2);
}

/* Texte initial */
.trad-hover .base-text {
  display: inline; 
  
}

.trad-hover .trad-text {
  display: none; /* Masqué par défaut */
}


.trad-hover:hover .base-text {
  display: none;
}

.trad-hover:hover .trad-text {
  display: inline;
}

.txtleft_img{
    Display:block;
    text-align: center;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 4px;
    margin: 5px 10px;
    box-shadow: 3px 5px 5px -2px black;
}

.txtright_img{
    float : right;
    text-align: center;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 4px;
    margin: 5px 10px;
    box-shadow: -3px 5px 5px -2px black;
}

overhidden{
  overflow: hidden;
}

overauto{
  display: block;
  overflow: auto;
  max-height: 400px;
  margin: 15px 10px 10px 15px; 
}
    
