t1 {
	font-family: montserrat;
	color: var(--text1);
	text-transform: uppercase;
	font-weight: 900;
	font-size: 37px;
}
t2 {
	font-family: montserrat;
	color: var(--text1);
	display: grid;
	text-transform: uppercase;
	font-weight: 800;
	font-size: 23px;
	border-bottom: 2px solid #fa654b;
}
t3 {
	font-family: montserrat;
	color: var(--text1);
	text-transform: uppercase;
	font-weight: 800;
	font-size: 23px;
	border-left: 2px solid #fa654b;
	padding: 0px 0px 0px 10px;
}
t4 {
	font-family: montserrat;
	color: var(--text1);
	padding: 30px 0 8px;
	text-transform: uppercase;
	font-weight: 800;
	font-size: 23px;
	position: relative;
  
}
s1 {
	color: var(--color3);
	font-weight: bold;
}
s2 {
	color: var(--text1);
	font-weight: bold;
	background-color: var(--color3);
	padding : 0px 4px;
}
s3 {
	font-family: montserrat;
	text-transform: uppercase;
	color: var(--text1);
	font-weight: bold;

}
s4 {
	font-family: montserrat;
	text-transform: uppercase;
	color: var(--text1);
	font-weight: bold;
	background-color: var(--color3);
	padding : 0px 4px;
}
u1 {
	border-bottom: 1px solid var(--color3);
}
u3 {
	border-bottom: 1px dashed var(--color3);
}
tag1 {
    background: var(--bg3);
    padding: 2px 4px;
    font-weight: bold;
}
tag2 {
	background: var(--color3);
	padding: 4px;
	border-radius: 2px;
	font-weight: bold;
}
tag3 {
	border: 2px solid var(--bg3);
	padding: 4px;
	border-radius: 2px;
	font-weight: bold;
}
tag4 {
	border: 2px solid var(--color3);
	padding: 4px;
	border-radius: 2px;
	font-weight: bold;
}
tag5 {
	border: 2px dashed var(--bg3);
	padding: 4px;
	border-radius: 2px;
	font-weight: bold;
}
tag6 {
	border: 2px dashed var(--color3);
	padding: 4px;
	border-radius: 2px;
	font-weight: bold;
}


<!-------Test------->

butoff{
  
  background: -webkit-linear-gradient(50deg, var(--color1), var(--color2), var(--color3));
  font-family: var(--font3);
  letter-spacing: 4px;
  padding: 2px 5px;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 800;
  color: var(--bg2);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  font-size: 14px;
  margin: 3px;
}

.lilblock{
  width: 50%;
  margin: 0 50px;
  text-align: justify;
  border: 1px solid var(--color2);
  border-radius: 2px;
  padding: 22px;
  background: var(--bg3);
  color: var(--text1);
}

alin{
    display: block;
    background: -webkit-linear-gradient(50deg, var(--color1), var(--color2), var(--color3));
    height: 5px;
    width: 84%; 
    margin: auto;
}
