block{
  padding: 15px 10px 15px;
  border: 1px solid var(--color2);
  border-radius: 3px;
  text-align: justify;
  display : block;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(229, 106, 69, 0.1);
  width: 60%;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

block:hover{
  background: var(--bg2);
}

.trad-hover {
  position: relative; 
  display: inline-block;
  cursor: pointer;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: var(--color2);
}

/* Texte initial */
.trad-hover .base-text {
  display: inline; 
  
}

.trad-hover .trad-text {
  display: none; /* Masqué par défaut */
}


.trad-hover:hover .base-text {
  display: none;
}

.trad-hover:hover .trad-text {
  display: inline;
}

------------IMAGES------------

.txtleft_img{
    Display:block;
    text-align: center;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 4px;
    margin: 5px 10px;
    box-shadow: 3px 5px 5px -2px black;
}

.txtright_img{
    float : right;
    text-align: center;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 4px;
    margin: 5px 10px;
    box-shadow: -3px 5px 5px -2px black;
}

------------BLOCK------------

overhidden{
  overflow: hidden;
}

overauto{
  display: block;
  overflow: auto;
  max-height: 400px;
  margin: 15px 10px 10px 15px; 
}

<!------------LIEN------------>

.circle {
  position: relative;
  top: -30px; 
  left: -30px; 
  width: 50px;
  height: 50px;
  border: 5px solid var(--bg3);
  border-radius: 50% !important; 
  background: var(--color2);
  z-index: 10;
}

.linke-card {
  position: relative;
  width: 600px;
  background-color: var(--bg3);
  border-radius: 3px;
  display: block;
}

.link-card-content {
  padding:0px 10px 0px 10px;
  display: grid;
  grid-template-columns: 200px auto;
  margin-top: 10px;
}


.link-card-img img {
  max-width: 200px;
  border-radius: 0px;
  margin-bottom: px;
  padding: 5px 5px 0px 5px;
}

.link-card-prestop1 {
    position: relative;
    top: -22px;
  margin-left: 40px;
  
}


.link-card-txt {
  text-align: center;
  padding: 5px 5px 0px 5px;
}

.link-card-presmid1 {
    display: flex;
    flex-wrap: wrap;
    border-left: 1px solid var(--color2);
    padding: 0px 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 0px !important;
}

.link-card-presmid1 h1 {
    background: -webkit-linear-gradient(50deg, var(--color1), var(--color2), var(--color3));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: var(--font2);
    font-size: 22px;
    margin-top: -6px;
    font-style: italic;
    padding: 0px;
    display: flex;
    width: 100%;
    text-transform: uppercase;
}

.link-card-presmid1 h2 {
    font-family: var(--font3);
    text-transform: uppercase;
    font-size: 10px;
    margin-top: -20px;
    font-weight: 900;
    color: var(--text2);
}

.link-card-presmid1:hover tw3 {
    opacity: 1;
    transition: 1s;
}

tw3 {
   display: flex;
    background: var(--transp2);
    overflow: auto;
    border-radius: 0px;
    width: fit-content;
    max-width: 136px;
    overflow: auto;
    height: 40px;
    padding: 4px 10px;
    position: relative;
    top: -50px;
    margin-bottom: -40px;
    right: -148px;
    opacity: 0;
    transition: 1s;
    color: var(--text2);
}

.link-card-presbot1{
  display: flex;
    flex-wrap: wrap;
  align-items: center;
  justify-content: center;
    padding: 0px 20px;
    border-radius: 0px !important;
    width: 100%;
}

.link-card-quote {
  font-size: 14px;
  color: #777;
  background-color: var(--bg2);
  padding: 5px 5px;
  border-radius: 2px;
  margin: 10px 0;
  font-style: italic;
}

/* Détails */
.link-card-resume {
  font-size: 12px;
  color: #444;
  margin: 5px 0;
  height: 200px;
  padding: 5px;
  overflow: auto;
  color: var(--text2);
  font-size: var(--size2);
  text-align: justify;
}

/* Informations en bas */
.link-card-info-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.link-card-word {
  text-align: center;
  flex: 1;
  padding: 7px;
  background-color: var(--color2);
  background-color-opacity: 0.35;
  margin: 10px 5px 10px 5px;
  font-size: var(--size3);
  font-weight: bold;
  border-radius: 10px;
  text-transform: uppercase;
    font-weight: 600;
}
.chrono-lien {
    margin: auto;
    background: var(--bg3);
    color: var(--text2);
    width: 645px;
    padding: 10px;
}
.chrono-grid {
    display: grid;
    grid-template-columns: 120px 1fr;
    column-gap: 10px;
}
.chrono-date {
    background: var(--color3);
    text-align: center;
    padding: 5px;
    max-height: 60px;
}
.chrono-desc {
    border: 2px solid var(--bg2);
    text-align: justify;
    padding: 5px 10px;
}
