```/*----- PRES -----*/
.LPO_pres_tw {
    margin: auto;
    padding: 16px;
    width: 660px;
    background: var(--bg3);
}

.LPO_pres_id {
    margin: auto;
    padding: 16px;
    width: 660px;
    height: 352px;
    background: var(--color3);
    display: flex;
    position: relative;
}

.LPO_pres_bio {
    margin: auto;
    padding: 16px;
    width: 660px;
    height: 352px;
    background: var(--bg3);
}

.LPO_avatar-id {
    width: 200px;
    height: 320px;
    object-fit: cover;
}

tw-pres {
    display: flex;
    background: var(--bg3);
    overflow: auto;
    width: fit-content;
    width: 150px;
    overflow: auto;
    height: 72px;
    padding: 4px 10px;
    position: absolute;
    right: 24px;
    top: 24px;
    opacity: 0;
    transition: 1s;
    color: var(--text2);
 }

tw-pres::before {
    content: '\ecfd';
    font-family: var(--font1);
    color: var(--color3);
    margin-right: 10px;
}

.LPO_pres_id:hover tw-pres {
    opacity: 1;
    transition: 1s
}

.LPO_info-id {
    padding: 8px;
    text-align: right;
    flex: auto;
    font-family: var(--font2);
    font-weight: 600;
    color: var(--bg3);
    line-height: 1.1em;
    text-transform: uppercase;
    font-size: 14px;
    position: relative;
}

.info-fc {
    position: absolute;
    text-align: left;
    margin-top: 73px;
}

.info-fc span {
    font-weight: 800;
    font-size: 12px;
}

.LPO_title-id {
    font-family: var(--font2);
    text-transform: uppercase;
    font-weight: 900;
    color: var(--bg3);
    font-size: 45px;
    line-height: 0.8em;
    display: block;
    text-align: left;
}

.LPO_rpg-id {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    text-align: left;
    margin-top: 20px;
    font-weight: 800;
}

.LPO_rpg-id span{
    flex: auto;
    display: block;
}

.pr-id{
    text-align: center;
}
.pr-cr{
    text-align: right;
}

.LPO_lignes-id {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}

/* Lignes verticales */
.LPO_lignes-id::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 16px;
    width: 1px;
    background-color: var(--bg3);
}

.LPO_lignes-id::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 16px;
    width: 1px;
    background-color: var(--bg3);
}

.ligne-haut,
.ligne-bas {
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    background-color: var(--bg3);
}

.ligne-haut {
    top: 16px;
}

.ligne-bas {
    bottom: 16px;
}```
