/* pré-lien template */

.pl_post {
    margin: auto;
    background: var(--bg3);
    color: var(--text2);
    width: 645px;
    padding: 20px;
}
.pl_entete { 
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}
.pl_icon {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px
}
.pl_icon img {
    height: 70px;
    margin-right: 10px;
}
.pl_text {
    background: var(--bg2);
    padding: 10px;
    text-align: justify;
}
.pl_title {
    background: var(--bg2);
    padding: 10px 20px;
    text-align: center;
}
.pl_roles {
    display: grid;
    grid-template-columns: 1fr 2fr;
    position: relative;
}
.pl_icon_role {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pl_icon_role img {
    height: 113px;
    margin-right: 10px;
}
.pl_role_desc {
    background: var(--bg2);
    padding: 10px;
    text-align: justify;
    overflow: auto;
    height: 160px;
}

.pl_avatar {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pl_avatar img {
  height: 320px;
  width: 200px;
  margin-right: 10px;
}
.pl_identity {
  background: var(--bg2);
  padding: 20px;
  text-align: justify;
  height: 320px;
  overflow: auto;
}
